.box {
  background-color: blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: bold;
}

.nested-box {
  background-color: green;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: bold;
}
