body {
  font-family: 'Open Sans', sans-serif;
}
.box {
  background: #64B5F6;
  height: 60px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}
.split-box {
  background: #64B5F6;
  height: 100px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}
.nested-box {
  background: #9CCC65;
  height: 50px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}
